@using natom.varadero.entities
<link href="/Resources/css/varadero/principal.ui.css" rel="stylesheet" type="text/css">
<link href="/Resources/css/varadero/principal.responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">

@Html.Hidden("PedidoId")
@{
    Pedido pedido = (Pedido)ViewBag.Pedido;
    Cliente cliente = (Cliente)ViewBag.Cliente;
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y border-top">
    <div class="container">

        <div class="row">
            <main class="col-lg-6 col-sm-6 col-xl-6">
                <center>
                    <img width="70%" src="~/Resources/img/logo_grande.png" />
                </center>
            </main> <!-- col.// -->
            <main class="col-lg-6 col-sm-6 col-xl-6">
                <br/><br /><br />
                <h2>¡Pedido #@(pedido.Numero.ToString().PadLeft(8, '0')) confirmado!</h2>
                @*<h4>Se procesó correctamente el pago por $ @(pedido.Total.ToString("F").Replace(".", ","))</h4>*@
                <h4>Gracias por confiar en Drogueria Varadero</h4>

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION BOTONERA // ========================= -->
<section class="section-content bg padding-y border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xl-12">
                <div class="btn btn-secondary" style="float:right;" onclick="location.href='/eCommerce/Principal'">FINALIZAR <i class="fas fa-arrow-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= SECTION BOTONERA END // ========================= -->