@using natom.varadero.entities
<link href="/Resources/css/varadero/dashboard/principal.ui.css" rel="stylesheet" type="text/css">
<link href="/Resources/css/varadero/dashboard/principal.responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)">
@{ 
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style type="text/css">
    .bolded {
        font-weight: bold;
    }
    .right-align {
        text-align:right;
    }
    td.center {
        text-align:center;
    }
</style>
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-top-sm">
    <div class="container">

        <div class="row row-sm">
            <aside class="col-md-2">
                <div class="card">
                    <ul class="menu-category">
                        <li class="active"> <a href="/Dashboard/Ordenes">Ordenes</a></li>
                        <li> <a href="/Dashboard/Destacados">Productos destacados</a></li>
                        <li> <a href="/Dashboard/Promocionales">Promocionales</a></li>
                    </ul>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3" style="position: absolute; right: 260px; margin-top: -4px; z-index:1">
                        <select class="form-control" id="filtroEstado" style="width:250px;">
                            <option selected value="0">[SIN FILTRO] VER TODOS</option>
                            <option value="1">PEND. SINCRONIZACIÓN</option>
                            <option value="2">CONFIRMADO</option>
                            <option value="3">PREPARADO</option>
                            <option value="4">COMPLETADO</option>
                        </select>
                    </div>
                </div>

                <table class="table table-striped table-bordered dt-responsive nowrap" id="tblIndex" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Fecha</th>
                            <th>Monto total</th>
                            <th style="text-align:center">Estado actual</th>
                            <th>Ult. actualización</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- col./
            / -->
            <!-- card.// -->
        </div>

        <br />
        <br />

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#filtroEstado").chosen();

        var oTable = $('#tblIndex').DataTable({
            "responsive": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/Dashboard/GetOrdenesTableData?filtro=" + $("#filtroEstado").val(),
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "scrollY": "305px",
            "aaSorting": [[0, "desc"]],
            "bDeferRender": true,
            "aoColumns": [
                { "bSortable": true, "sWidth": '15%', "sClass": "bolded" },
                { "bSortable": true, "sWidth": '8%' },
                { "bSortable": true, "sWidth": '12%', "sClass": "right-align" },
                { "bSortable": false, "sWidth": '30%', "sClass": "bolded center" },
                { "bSortable": false, "sWidth": '12%' },
                {
                    "bSortable": false,
                    "bSearchable": false,
                    "sWidth": '23%',
                    "mRender": function (data, type, full) {
                        var html = "";
                        var sincronizado = full[6];
                        var preparado = full[7];
                        var completado = full[8];

                        html += '&nbsp;<a class="btn btn-primary btn-sm ver-smt-btn" id="' + data + '"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>';
                        if (sincronizado && !completado) {
                            if (!preparado) {
                                html += '&nbsp;<a class="btn btn-warning btn-sm preparado-smt-btn" id="' + data + '"><i class="fa fa-cubes" aria-hidden="true"></i> Preparado</a>';
                            }
                            else {
                                html += '&nbsp;<a class="btn btn-success btn-sm completado-smt-btn" id="' + data + '"><i class="fa fa-check" aria-hidden="true"></i> Completado</a>';
                            }
                        }

                        return html;
                    }
                }
            ]
        });

        //new $.fn.dataTable.FixedHeader(oTable);

        $('#tblIndex').on('click', '.ver-smt-btn', function (e) {
            var id = e.currentTarget.id;
            location.href = "/Dashboard/VerPedido?id=" + id;
        });

        $('#tblIndex').on('click', '.preparado-smt-btn', function (e) {
            var id = e.currentTarget.id;
            Mensajes.MostrarSiNo("¿Está seguro de marcar al pedido como <b>PREPARADO</b>?<br/><i>Se le enviará un mail de aviso al cliente.</i>", function () {
                eCommerce.DoPOST("Dashboard", "MarcarComoPreparado?pedidoId=" + id, {}, function (response) {
                    if (response.success) {
                        $('#tblIndex').DataTable().ajax.reload();
                    }
                    else {
                        Mensajes.MostrarError(response.error);
                    }
                    eCommerce.OcultarProcesando();
                }, false);
            });
        });

        $('#tblIndex').on('click', '.completado-smt-btn', function (e) {
            var id = e.currentTarget.id;
            Mensajes.MostrarSiNo("¿Está seguro de marcar el pedido como <b>COMPLETADO</b>?", function () {
                eCommerce.DoPOST("Dashboard", "MarcarComoCompletado?pedidoId=" + id, {}, function (response) {
                    if (response.success) {
                        $('#tblIndex').DataTable().ajax.reload();
                    }
                    else {
                        Mensajes.MostrarError(response.error);
                    }
                    eCommerce.OcultarProcesando();
                }, false);
            });
        });

        $("#filtroEstado").change(function () {
            $('#tblIndex').DataTable().ajax.url("/Dashboard/GetOrdenesTableData?filtro=" + $("#filtroEstado").val());
            $('#tblIndex').DataTable().ajax.reload();
        });

    });
</script>